body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    /* background-image: url(background.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; */
}

header {

    text-align: center;
    padding: 20px;
}

main {
    margin: 0 auto;
    height: 90vh;
    max-width: 600px;
    justify-content: center;
    padding: 20px;
    display: flex;
    align-items: center;
}

.greetings {
    text-align: center;
}

.countdown {
    text-align: center;
}

.countdown-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.countdown-item {
    padding: 20px;

    border-radius: 10%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: #969696;
    font-size: 1.5em;
    margin: 20px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}